:root {
  --accent-color: #0abab5;
  --main-text-color: #757575;
  --secondary-text-color: #000000;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --card-border-color: #eeeeee;
  --shadow-color: rgba(0, 0, 0, 0.12);
}

